

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
    margin: 0;
    padding: 2px;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    #cssmenu:after,
    #cssmenu > ul:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

    #cssmenu #menu-button {
        display: none;
    }

#cssmenu {
    font-family: Montserrat, sans-serif;
    background: #333333;
}

    #cssmenu > ul > li {
        float: left;
    }

    #cssmenu.align-center > ul {
        font-size: 0;
        text-align: center;
    }

        #cssmenu.align-center > ul > li {
            display: inline-block;
            float: none;
        }

    #cssmenu.align-center ul ul {
        text-align: left;
    }

    #cssmenu.align-right > ul > li {
        float: right;
    }

    #cssmenu > ul > li > a {
        padding: 10px;
        font-size: 12px;
        letter-spacing: 1px;
        text-decoration: none;
        color: #dddddd;
        font-weight: 700;
        text-transform: uppercase;
    }

    #cssmenu > ul > li:hover > a {
        color: #ffffff;
    }

    #cssmenu > ul > li.has-sub > a {
        padding-right: 30px;
    }

        #cssmenu > ul > li.has-sub > a:after {
            position: absolute;
            top: 22px;
            right: 11px;
            width: 8px;
            height: 2px;
            display: block;
            background: #dddddd;
            content: '';
        }

        #cssmenu > ul > li.has-sub > a:before {
            position: absolute;
            top: 19px;
            right: 14px;
            display: block;
            width: 2px;
            height: 8px;
            background: #dddddd;
            content: '';
            -webkit-transition: all .25s ease;
            -moz-transition: all .25s ease;
            -ms-transition: all .25s ease;
            -o-transition: all .25s ease;
            transition: all .25s ease;
        }

    #cssmenu > ul > li.has-sub:hover > a:before {
        top: 23px;
        height: 0;
    }

    #cssmenu ul ul {
        position: absolute;
        left: -9999px;
    }

    #cssmenu.align-right ul ul {
        text-align: right;
    }

    #cssmenu ul ul li {
        height: 0;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
    }

    #cssmenu li:hover > ul {
        left: auto;
    }

    #cssmenu.align-right li:hover > ul {
        left: auto;
        right: 0;
    }

    #cssmenu li:hover > ul > li {
        height: 35px;
    }

    #cssmenu ul ul ul {
        margin-left: 100%;
        top: 0;
    }

    #cssmenu.align-right ul ul ul {
        margin-left: 0;
        margin-right: 100%;
    }

    #cssmenu ul ul li a {
        border-bottom: 1px solid rgba(150, 150, 150, 0.15);
        padding: 11px 15px;
        width: 170px;
        font-size: 12px;
        text-decoration: none;
        color: #dddddd;
        font-weight: 400;
        background: #333333;
    }

    #cssmenu ul ul li:last-child > a,
    #cssmenu ul ul li.last-item > a {
        border-bottom: 0;
    }

    #cssmenu ul ul li:hover > a,
    #cssmenu ul ul li a:hover {
        color: #ffffff;
    }

    #cssmenu ul ul li.has-sub > a:after {
        position: absolute;
        top: 16px;
        right: 11px;
        width: 8px;
        height: 2px;
        display: block;
        background: #dddddd;
        content: '';
    }

    #cssmenu.align-right ul ul li.has-sub > a:after {
        right: auto;
        left: 11px;
    }

    #cssmenu ul ul li.has-sub > a:before {
        position: absolute;
        top: 13px;
        right: 14px;
        display: block;
        width: 2px;
        height: 8px;
        background: #dddddd;
        content: '';
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
    }

    #cssmenu.align-right ul ul li.has-sub > a:before {
        right: auto;
        left: 14px;
    }

    #cssmenu ul ul > li.has-sub:hover > a:before {
        top: 17px;
        height: 0;
    }

@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    #cssmenu {
        width: 100%;
    }

        #cssmenu ul {
            width: 100%;
            display: none;
        }

        #cssmenu.align-center > ul {
            text-align: left;
        }

        #cssmenu ul li {
            width: 100%;
            border-top: 1px solid rgba(120, 120, 120, 0.2);
        }

        #cssmenu ul ul li,
        #cssmenu li:hover > ul > li {
            height: auto;
        }

            #cssmenu ul li a,
            #cssmenu ul ul li a {
                width: 100%;
                border-bottom: 0;
            }

        #cssmenu > ul > li {
            float: none;
        }

        #cssmenu ul ul li a {
            padding-left: 25px;
        }

        #cssmenu ul ul ul li a {
            padding-left: 35px;
        }

        #cssmenu ul ul li a {
            color: #dddddd;
            background: none;
        }

        #cssmenu ul ul li:hover > a,
        #cssmenu ul ul li.active > a {
            color: #ffffff;
        }

        #cssmenu ul ul,
        #cssmenu ul ul ul,
        #cssmenu.align-right ul ul {
            position: relative;
            left: 0;
            width: 100%;
            margin: 0;
            text-align: left;
        }

            #cssmenu > ul > li.has-sub > a:after,
            #cssmenu > ul > li.has-sub > a:before,
            #cssmenu ul ul > li.has-sub > a:after,
            #cssmenu ul ul > li.has-sub > a:before {
                display: none;
            }

        #cssmenu #menu-button {
            display: block;
            padding: 17px;
            color: #dddddd;
            cursor: pointer;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 700;
        }

            #cssmenu #menu-button:after {
                position: absolute;
                top: 22px;
                right: 17px;
                display: block;
                height: 4px;
                width: 20px;
                border-top: 2px solid #dddddd;
                border-bottom: 2px solid #dddddd;
                content: '';
            }

            #cssmenu #menu-button:before {
                position: absolute;
                top: 16px;
                right: 17px;
                display: block;
                height: 2px;
                width: 20px;
                background: #dddddd;
                content: '';
            }

            #cssmenu #menu-button.menu-opened:after {
                top: 23px;
                border: 0;
                height: 2px;
                width: 15px;
                background: #ffffff;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
            }

            #cssmenu #menu-button.menu-opened:before {
                top: 23px;
                background: #ffffff;
                width: 15px;
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }

        #cssmenu .submenu-button {
            position: absolute;
            z-index: 99;
            right: 0;
            top: 0;
            display: block;
            border-left: 1px solid rgba(120, 120, 120, 0.2);
            height: 46px;
            width: 46px;
            cursor: pointer;
        }

            #cssmenu .submenu-button.submenu-opened {
                background: #262626;
            }

        #cssmenu ul ul .submenu-button {
            height: 34px;
            width: 34px;
        }

        #cssmenu .submenu-button:after {
            position: absolute;
            top: 22px;
            right: 19px;
            width: 8px;
            height: 2px;
            display: block;
            background: #dddddd;
            content: '';
        }

        #cssmenu ul ul .submenu-button:after {
            top: 15px;
            right: 13px;
        }

        #cssmenu .submenu-button.submenu-opened:after {
            background: #ffffff;
        }

        #cssmenu .submenu-button:before {
            position: absolute;
            top: 19px;
            right: 22px;
            display: block;
            width: 2px;
            height: 8px;
            background: #dddddd;
            content: '';
        }

        #cssmenu ul ul .submenu-button:before {
            top: 12px;
            right: 16px;
        }

        #cssmenu .submenu-button.submenu-opened:before {
            display: none;
        }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
   
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.header {
    width: 100%;
    height: 55px;
    background-color: #E8E8E8;
}

.addform {
    width: 962px;
    height: 647px;
    margin: 89px 0px 0px 255px;
}


/*
    --- form


*/
.panel.panel-default {
    border-top-color: #F5F5F5;
    border-top-width: 1px;
}

.panel {
    float: left;
    width: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 0px;
    border-top: 2px solid #E5E5E5;
    margin-bottom: 20px;
    position: relative;
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.panel-default {
    border-color: #ddd;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.page-container .page-content {
    min-height: 100%;
    margin-left: 300px;
    background: #f5f5f5 url('../img/bg.png') left top repeat;
    position: relative;
    zoom: 1;
}

.panel .panel-body {
    padding: 15px;
    position: relative;
}

.panel .panel-heading, .panel .panel-footer, .panel .panel-body {
    float: left;
    width: 100%;
}

.panel-body {
    padding: 15px;
}



.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 12px;
    color: #656d78;
}

.baslik {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 27px;
    color: #656d78;
}

.form-control {
    height: 30px;
    font-size: 12px;
    line-height: 18px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    border: 1px solid #D5D5D5;
    background: #F9F9F9;
}

.form-control {
    display: block;
    width: 35%;
    height: 12px;
    padding: 7px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin: 0px 0px 10px 0px;
}

.btn-danger {
    background-color: #b64645;
    border-color: #b64645;
}

.btn {
    font-size: 12px;
    padding: 4px 15px;
    line-height: 20px;
    font-weight: 400;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
/*
     user list


 */

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

//@media (min-width: 992px) .col-md-12 {
  //  width: 100%;
//}

//@media (min-width: 992px) .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
  //  float:left;
//}

.panel-body1 {
    position: relative;
    width: 100%;
}

.panel {
    float: left;
    width: 100%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 0px;
    border-top: 2px solid #E5E5E5;
    margin-bottom: 20px;
    position: relative;
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.panel-default .panel-heading, .panel-primary .panel-heading, .panel-success .panel-heading, .panel-info .panel-heading, .panel-warning .panel-heading, .panel-danger .panel-heading {
    background: #F5F5F5;
    border-color: #E5E5E5;
}

.panel .panel-heading, .panel .panel-footer, .panel .panel-body {
    float: left;
    width: 98%;
}

.panel .panel-heading {
    padding: 10px;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel .panel-heading .panel-title {
    margin-left: 7px;
}

.panel .panel-title {
    font-size: 16px;
   
    line-height: 30px;
    display: block;
    font:bold;
    float: left;
    color: #434a54;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.panel-body.panel-body-table {
    padding: 0px;
}

.panel .panel-body {
    padding: 15px;
    position: relative;
}

.panel-body.panel-body-table .table {
    margin-bottom: 0px;
    border: 0px;
}

.table-bordered {
    border: 1px solid #ddd;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

table {
    background-color: transparent;
}

.panel-body.panel-body-table .table tr > td:first-child, .panel-body.panel-body-table .table tr > th:first-child {
    border-left: 0px;
}

.table.table-bordered > thead > tr > th:first-child, .table.table-bordered > tbody > tr > th:first-child, .table.table-bordered > tbody > tr > td:first-child {
    border-left: 1px solid #dee7f2;
}

.table.table-bordered > thead > tr > th, .table.table-bordered > tbody > tr > th {
    border-top: 1px solid #dee7f2 !important;
}

.table.table-bordered > thead > tr > th, .table.table-bordered > tbody > tr > th, .table.table-bordered > tbody > tr > td {
    border-right: 1px solid #dee7f2;
    border-bottom: 1px solid #dee7f2;
}

.table > thead > tr > th {
    background: #FFF;
    color: #333;
    font-size: 12px;
    white-space: nowrap;
    font-weight: 600;
    text-transform: uppercase;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-color: transparent;
    padding: 16px 20px;
    color: #656C78;
    font-size: 13px;
}

.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border-bottom-width: 2px;
}

.btn.btn-condensed.btn-sm {
    padding-left: 8px;
    padding-right: 8px;
}

.btn.btn-condensed {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.btn.btn-rounded {
    background: transparent;
    color: #656d78;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    border-width: 2px;
    padding: 2px 10px;
    font-weight: 600;
}

.btn.btn-sm, .btn-group-sm > .btn {
    font-size: 11px;
    padding: 2px 10px;
}

.btn-default {
    border-color: #DDD;
}

.btn.btn-condensed .fa, .btn.btn-condensed .glyphicon {
    margin: 0px;
    text-align: center;
}

.btnedit {
    background-color: #4BC54F;
    color: white;
}

    .btnedit:hover {
        background-color: #3EA742;
        color: white;
    }

.btn-danger:hover {
    color: #fff;
    background-color: #C52925;
    border-color: #d43f3a;
}
#trow_1:hover {
    background-color: #F3F3F3;
}
.profile
{
        width: 20%;
    float: right;
        padding: 8px;
}
.profileview
{
    font-family: Montserrat, sans-serif;
    color: #dddddd;
    padding: 9px;
    font-size: 12px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #dddddd;
    font-weight: 700;
    text-transform: uppercase;
    
    
    
}
.form-control2 {
    display: block;
    width: 35%;
    /* height: 27px; */
    padding: 7px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin: 0px 0px 10px 0px;
}